#{extends 'demoMain.html' /}
#{set title:'Demo' /}
<div class="tabBarView">
    <h1>Demo</h1>
    <div class="tabBarPages">
        <div id="actus">
            <img src="@{'public/images/depayz.png'}" />
            <ul class="listNavView">
               <li><a href="#newsItem">News item 1</a></li>
               <li><a href="#newsItem" class="next">News item 2</a></li>
               <li><a href="#newsItem" class="prev">News item 3</a></li>
            </ul>
        </div>
        <div id="practique">
            <ul>
               <li><a href="#newsItem">Transport</a></li>
               <li><a href="#newsItem" class="next">Slide left</a></li>
               <li><a href="#newsItem" class="prev">Slide right</a></li>
               <li><a href="#newsItem">Transport</a></li>
               <li><a href="#newsItem" class="next">Slide left</a></li>
               <li><a href="#newsItem" class="prev">Slide right</a></li>
            </ul>
        </div>
        <div id="other">
            <p>Autre page</p>
        </div>
        <div id="newsItem">
             <div class="back" onclick="Lucky.back()">back</div>
        </div>
    </div>
    <div id="plus">
        <p>Do we need plus?</p>
    </div>
    <ul class="tabBarControls">
        <li id="btnActus"><a href="#actus" class="next">actus</a></li>
        <li id="btnPractique"><a href="#practique" class="fade">pratique</a></li>
        <li id="btnOther"><a href="#other" class="show">autre</a></li>
    </ul>
</div>
