#{extends 'main.html' /}
#{set title:'Home' /}
<div class="tabBarView" id="suprss">
    <h1>SUP<em id="rss">rss</em></h1>
    <div class="tabBarPages">
        <div id="feedlist" class="scrollView">
            <ul>
                <li>
                    <article>
                        <p class="date"></p>
                        <div class="text"></div>
                    </article>
                </li>
                <script type="text/html" id="item_tmpl">
                    <li class="item">
                        <a class="" href="#"><%=title%></a>
                        <article>
                            <p class="date"><%=date%></p>
                            <div class="text">
                                <%=description%>
                            </div>
                        </article>
                    </li>
                </script>
            </ul>
        </div>
        <div id="plus">
            <ul>
                <li><a href="#newsItem">Contact</a></li>
                <li><a href="#newsItem" class="next">Slide left</a></li>
                <li><a href="#newsItem" class="prev" onclick="Lucky.locate()">Slide right</a></li>
            </ul>
        </div>
       <div id="newsItem">
            <div class="scrollView">
                <div>
                    <div class="back" onclick="Lucky.back()">back</div>
                    <article></article>
                </div>
            </div>
       </div>
   </div>
   <ul class="tabBarControls">
       <li><a href="#feedlist"><img src="/public/images/buttons/home.png" alt="home" /></a></li>
       <li><a href="#plus"><img src="/public/images/buttons/plus.png" alt="plus" /></a></li>
   </ul>
</div>
