#{extends 'main.html' /}
#{set title:'Home' /}

<!-- Main tab bar view -->
<div class="tabBarView" id="suprss">
    
    <!-- Header title bar -->
    <h1>
        <img id="pinLeft" src="/public/images/strike.png" />
        <span class="strike-title">Strike Mobile</span>
        <img id="pinRight" src="/public/images/strike.png" />
    </h1>
    
    <!-- Tab bar pages -->
    <div class="tabBarPages">
        
        <!-- Home page -->
        <div id="home">
            <img src="/public/images/strike-logo.png" />
            <div id="bar"></div>
            <ul style="margin-top:34px">
                <li><a class="next" href="#feedlist">RSS Reader</a></li>
                <li><a href="http://www.zenexity.fr">Strike website</a></li>
                <li><a href="http://www.w3c.com">W3C specs</a></li>
            </ul>
        </div>
        
        <!-- RSS list page -->
        <div id="feedlist">
            <div class="scrollView">
                <ul></ul>
                <script type="text/html" id="item_tmpl">
                    <% $.each(items, function( item ){ %>
                        <li class="item" id="<%= item.id %>">
                            <a href="#"><%= item.title %></a>
                        </li>
                    <% }); %>
                </script>
            </div>
        </div>
        
         <!-- RSS article  page -->
        <div id="newsItem">
             <div class="scrollView">
                 <ul>
                     <li>
                         <div class="back" onclick="Strike.back()">back</div>
                         <article></article>
                         <script type="text/html" id="article_tmpl">
                             <p class="date"><%= date %></p>
                             <div class="text">
                                 <%= description %>
                             </div>
                         </script>
                     </li>
                 </ul>
             </div>
        </div>
        
        <!-- Plus/Help page -->
        <div id="plus">
            <h3>
                <span class="strike-title">About Strike</span>
            </h3>
            <ul>
                <li><a href="#newsItem">Contact</a></li>
                <li><a href="#newsItem" class="prev" onclick="Strike.locate(function( loc ){ alert( loc.latitude + ':' + loc.longitude ); })">Test GEO Location</a></li>
                <li><a href="#newsItem" class="next">Follow on Twitter</a></li>
            </ul>
        </div>

   </div>
   
   <!-- Tab bar controls -->
   <ul class="tabBarControls">
       <li><a href="#home"><img src="/public/images/buttons/home.png" alt="home" /></a></li>
       <li><a href="#feedlist"><img src="/public/images/buttons/delib.png" alt="home" /></a></li>
       <li><a href="#plus"><img src="/public/images/buttons/aides.png" alt="plus" /></a></li>
   </ul>
</div>
