!colortheme = #666
@import iphone.sass
!coloraux = #999

body, html
    height: 100%
    overflow: hidden

body > div
    //+iphone-page
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#615c60), to(#3c3c3c))
    overflow: hidden

.back
    +iphone-back-button
    +iphone-left-button
    position: absolute
    z-index: 10
    left: auto
    right: 10px
    top: 15px

.forward-button
    +iphone-forward-button 
    +iphone-right-button

a
    text-decoration: none
    color: #000

em  
    color: #3C194F
    font-size: 10pt
    &#rss
        text-transform: uppercase
        
h2
    +page-title

.tabBarView
    -webkit-box-sizing: border-box
    padding: 30px 0 40px
    height: 100%

.tabBarView h1
    +iphone-header(!coloraux)
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#727272), to(#a6a6a6))
    color: #000
    text-shadow: #ddd 1px 1px 1px
    font-size: 18pt
    -webkit-box-shadow: 0 0 5px #000
    position: absolute
    width: 100%
    top: 0
    z-index: 1
    padding: 0
    img
        vertical-align: middle
        margin-top: -3px
        height: 35px 
        width: 16px
    img#pinLeft
        margin-right: 5px
    img#pinRight
        margin-left: 5px

.tabBarPages
    height: 100%
    z-index: 0

.tabBarPages > div
    height: 100%
    margin-top: 8px

.tabBarControls
    +iphone-header(!coloraux)
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#727272), to(#a6a6a6))
    height: 40px
    position: absolute
    bottom: 0
    padding-left: 6px
    -webkit-box-shadow: 0 0 5px #000
    li
        width: 20%
        a
            background: transparent
            display: block
            width: 53px
            height: 32px
            overflow: hidden
            margin-top: 4px
            &.selected
                img
                    margin-top: -32px


#newsItem
    article
        .date
            text-shadow: rgba(255,255,255,0.5) 1px 1px 1px
            color: #777
    img
        display: block
        margin: auto
        max-width: 90%
        width: 90%
        padding: 20px 0 20px 0
    a
        color: #800

article
    display: none

.tabBarPages ul
    background-color: #eee
    background-image: -webkit-gradient(linear, 0 0, 0 100, from(#fff), to(#e5e5e5))
    -webkit-border-radius: 5px
    padding: 10px
    margin: 10px
    -webkit-box-shadow: 1px 1px 3px #222

h3
    margin-top: 20px
    font-size: 16pt
    text-shadow: #222 1px 1px 1px
    color: #fff
    padding-left: 20px

.tabBarPages ul li
    font-size: 14pt
    padding: 10px
    border-bottom: 1px solid #ccc
    border-top: 1px solid #fff
    a
        display: block
        background: transparent url(/public/images/mobile/arrow.png) no-repeat 0px right
        padding-right: 20px
        min-height: 25px
        
#newsItem
    a
        display: inline
        padding: 0
        min-height: auto

#feedlist ul
    margin: 0
    -webkit-border-radius: 0

#feedlist ul li
    
#feedlist ul li a
    font-size: 10pt
    color: #000


#newsItem li
    font-size: 10pt
    line-height: 16pt
    background-image: none

.tabBarPages ul li:first-child
    border-top: 0
.tabBarPages ul li:last-child
    border-bottom: 0
#bar
    margin-top: -5px
    height: 5px
    background: #666 url(/public/images/bar-gradient.png) repeat-x -40px 0
    border-top: 1px solid #fff
    -webkit-box-shadow: 0 0 5px #000