<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'public/stylesheets/demo.sass'}">
        <script type="text/javascript" charset="utf-8" src="@{'public/javascripts/lucky.js'}"></script>
        <script type="text/javascript" charset="utf-8" src="@{'public/javascripts/iscroll.js'}"></script>
        <script type="text/javascript" charset="utf-8" src="@{'public/javascripts/demo.js'}"></script>
        #{meta-iphone-webapp /}
        
         <script type="text/javascript" charset="utf-8">
         
                var tmpWidgetData = {
                    "actus":{
                        name: "Actus",
                        url: "/public/rss.xml"
                    },
                    "emploi":{
                        name: "Emploi",
                        url: "/public/rss.xml"
                    },
                    "transport":{
                        name: "Transport",
                        url: "/public/rss.xml"
                    }
                };
                var tmpPageData = {
                    "emploi": {
                        jobsByDay : [{
                            date: "Juliet 2010",
                            items: [
                                { url: "/public/rss.xml", title: "Un Contrôleur de travaux Responsable de Secteur h/f", location: "fountainbleu" },
                                { url: "", title: "Un Contrôleur de travaux Responsable de Secteur h/f", location: "fountainbleu" },
                                { url: "", title: "A job", location: "fountainbleu" }
                            ]
                        },{
                            date: "March 2010",
                            items: [ 
                                { url: "", title: "A job", location: "paris" },
                                { url: "", title: "Un Contrôleur de travaux Responsable de Secteur h/f", location: "fountainbleu" },
                                { url: "", title: "Un Contrôleur de travaux Responsable de Secteur h/f", location: "fountainbleu" }
                            ]
                        }]
                    }
                }
                
                Lucky.onready(function(){
                    bindListNavLinks('ul.listNavView li')
                    widgetManager.init( tmpWidgetData );
                });
                
                // TODO: this needs to go into the zen-mobile or lucky "control" library
                function bindListNavLinks( selector ){
                    if(typeof selector === "string"){
                        selector = $(selector);
                    }
                    selector.each(function(el){
                        var link = el.getElementsByTagName('a')
                        if( !link || !link[0] || link[0].length === 0 ) return false
                        var hash = link[0].hash;
                        
                        if(link[0].href.split("#")[0] !== window.location.href.split("#")[0]){
                            link[0].addEventListener("click", function(e){
                                var href = this.href;
                                // HACK: can't stop the default event (for some reason!);
                                this.href = "#";
                                e.preventDefault();
                                e.stopPropagation();
                            }, false);
                        }
                        el.on("click", function(){
                            // Todo - split class name, look for types
                            var anim = el.getElementsByTagName('a')[0].className
                            Lucky[ anim || 'next' ]( hash )
                        })
                    });
                }
           </script>
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
