<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/mobile.sass'}">

        <script type="text/javascript" charset="utf-8" src="@{'/public/javascripts/lib/iscroll.js'}"></script>        
        <script type="text/javascript" charset="utf-8" src="@{'/public/javascripts/lib/Base.js'}"></script>
        
        <script type="text/javascript" charset="utf-8" src="@{'/public/javascripts/strike.js'}"></script>
        <script type="text/javascript" charset="utf-8" src="@{'/public/javascripts/strike-manager.js'}"></script>
        <script type="text/javascript" charset="utf-8" src="@{'/public/javascripts/strike-controls.js'}"></script>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{meta-iphone-webapp /}
    </head>
    <body>
        #{doLayout /}
    </body>
</html>